

#menu {
	position:relative;
	display:inline-block;
	float:left;
	width:280px;
	top:15px;
}



.menu_item {
	display:block;
	position:relative;
	width:180px;
	height:45px;
	left:65px;

	text-align:center;
	font-size:25px;
	vertical-align:middle;
	line-height:45px;
}


.menu_item:hover, .sub_menu_item:hover, .menu_item_selected {
	box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.7);
            -1px 2px 20px rgba(0, 0, 0, 0.7) inset;

	font-weight:bold;
}

#sub_menu_club {
	display:none;
	z-index: 10;
	position:relative;
	width:215px;
	height:380px;
	left:240px;
	top:-265px;
}

.sub_menu_item {
	display:block;
	position:relative;
	width:150px;
	height:35px;
	left:25px;

	text-align:center;
	font-size:16px;
	vertical-align:middle;
	line-height:35px;
}



#menu_links {
        position:relative;
        display:block;
        top:140px;
        width:100%;
	/*height:1000px;*/
}

#menu_links a {
        position:relative;
        display:block;
        width:140px;
        left:70px;
}

#menu_links img {
        border: 1px solid black;
        position:relative;
        width:100%;
}

#img_facebook {
        height:46px;
}

#img_avvf {
        height:80px;
}


#menu_partners {
	width:100%;
}

#menu_partners h3 {
	text-align:center;
}



/* Partners */
