
.table_1 {
        position: relative;
        width: 900px;
        left: 65px;
}

.table_2 {
        position: relative;
        width: 700px;
        left: 165px;
}

th, td {
        text-align: center;
}

tr {
        display:block;
}

.table_interline {
        border-bottom: 1px dotted black;
}

th {
        font-size: 20px;
        height: 60px;
        border: 1px solid black;
}

td {
        height: 100px;
}
